In [1]:
import pandas as pd

In [5]:
train_data: pd.DataFrame = pd.read_csv("../data/train.csv")

train_data.head()

   id        date country              store             product  num_sold
0   0  2010-01-01  Canada  Discount Stickers   Holographic Goose       NaN
1   1  2010-01-01  Canada  Discount Stickers              Kaggle     973.0
2   2  2010-01-01  Canada  Discount Stickers        Kaggle Tiers     906.0
3   3  2010-01-01  Canada  Discount Stickers            Kerneler     423.0
4   4  2010-01-01  Canada  Discount Stickers  Kerneler Dark Mode     491.0

In [10]:
print(f"Max date: {train_data["date"].max()}")
print(f"Min date: {train_data["date"].min()}")

Max date: 2016-12-31
Min date: 2010-01-01

In [11]:
train_data["country"].unique()

array(['Canada', 'Finland', 'Italy', 'Kenya', 'Norway', 'Singapore'],
      dtype=object)

In [12]:
train_data["product"].unique()

array(['Holographic Goose', 'Kaggle', 'Kaggle Tiers', 'Kerneler',
       'Kerneler Dark Mode'], dtype=object)